@model IEnumerable<Data.Models.comment>

@{
    ViewBag.Title = "report";
}



<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Posts</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Commentaires</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    Commentaires
    <small>liste</small>
</h3>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Buttons</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.idComment) </th>
                            <th> @Html.DisplayNameFor(model => model.content) </th>
                            <th> @Html.DisplayNameFor(model => model.date) </th>
                            <th> @Html.DisplayNameFor(model => model.customer_idUser) </th>
                            <th> @Html.DisplayNameFor(model => model.manager_idUser) </th>
                            <th> @Html.DisplayNameFor(model => model.photo_idPhoto) </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.idComment) </td>
                                <td> @Html.DisplayFor(modelItem => item.content) </td>
                                <td> @Html.DisplayFor(modelItem => item.date) </td>
                                <td> @Html.DisplayFor(modelItem => item.customer_idUser) </td>
                                <td> @Html.DisplayFor(modelItem => item.idea_idIdea) </td>
                                <td> @Html.DisplayFor(modelItem => item.photo_idPhoto) </td>
                                <td> 
                                
                                <a href="/Comment/Delete/@Html.DisplayFor(modelItem => item.idComment)" class="btn btn-danger" id="delcom">
    <i class="fa fa-times"></i> Delete
</a> </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


